.register-container {
  width: 500px;
  margin: auto;
}
.r1{
    display: flex;
    justify-content: space-between;
    
}
.firstname,.lastname{
  width: 48%;
}
.registerbutton{
  width: 100%;
}
.link{
  text-align: center;
}